access = public
package-lock = true
resolve-peers-from-workspace-root = true
strict-peer-dependencies = false
package-import-method = clone
shamefully-hoist = false
link-workspace-packages = false
hoist-workspace-packages = true
